language: python
python: "3.4" # this is the python used to run tox itself, not the test suite
addons:
    postgresql: "9.4"
env:
    - TOX_ENV=py34
    - TOX_ENV=py27
    - TOX_ENV=migration
install:
    - pip install --upgrade pip
    - pip install python-coveralls # requirement just for travis
    - pip install -r requirements.txt
before_script:
    - psql -c "create database componentsdb_testing;" -U postgres
script:
    - tox -e $TOX_ENV
after_success:
    - coveralls

