services:
  ########## DATABASES AND DATABASE TOOLING ##########

  # A postgres database instance which contains both the components database alongside the testing
  # database. Databases and users are configured in ./compose/db/docker-entrypoint-initdb.d/.
  db:
    profiles:
      - dev
      - prod
      - tool
      - test
    image: &db-image postgres:16
    environment:
      POSTGRES_PASSWORD: postgres-pass
    healthcheck:
      test:
        - CMD
        - pg_isready
        - --dbname
        - postgresql://components-user:components-pass@db:5432/components?sslmode=disable
      interval: 1s
      timeout: 3s
      retries: 5
      start_period: 120s
      start_interval: 1s
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./compose/db/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d

  # psql command line tool running in the persisted database. Has the project root mounted
  # read-write under /workspace which is also the working directory.
  psql:
    profiles:
      - tool
    image: *db-image
    entrypoint:
      - "psql"
      - "--dbname"
      - postgresql://postgres:postgres-pass@db:5432/components?sslmode=disable
    working_dir: /workspace
    volumes:
      - ./:/workspace
    depends_on:
      db:
        condition: service_healthy

  # Run the alembic migration tool
  alembic:
    profiles:
      - tool
    build:
      dockerfile_inline: |
        FROM python:3.12
        RUN pip install alembic~=1.13 asyncpg==0.29 black~=23.1
    environment:
      ALEMBIC_SQLALCHEMY_URL: postgresql+asyncpg://postgres:postgres-pass@db/components
    entrypoint: ["alembic"]
    working_dir: /workspace/backend
    volumes:
      - ./:/workspace
    depends_on:
      db:
        condition: service_healthy

  ########## SUPPORT SERVICES ##########

  # Run database migrations
  db-migrate:
    extends:
      service: alembic
    profiles:
      - dev
      - prod
      - tool
    command: ["upgrade", "head"]

  ########## TEST SUITE ##########

  backend-test:
    profiles:
      - test
    build:
      dockerfile_inline: |
        FROM python:3.12
        WORKDIR /usr/src/app/
        RUN pip install poetry
        COPY poetry.lock pyproject.toml /usr/src/app/
        RUN poetry install
      context: ./backend
    entrypoint: ["poetry", "run", "poe", "test"]
    volumes:
      - ./backend:/usr/src/app
    environment:
      TESTING_DB_URL: postgresql+asyncpg://postgres:postgres-pass@db/test
    depends_on:
      db:
        condition: service_healthy

  ########## LOCAL APP DEVELOPMENT ##########

  backend-dev:
    profiles:
      - dev
    build:
      dockerfile_inline: |
        FROM python:3.12
        WORKDIR /usr/src/app/
        RUN pip install poetry
        COPY poetry.lock pyproject.toml /usr/src/app/
        RUN poetry install
        ENTRYPOINT ["poetry", "run", "fastapi"]
        EXPOSE 8000
      context: ./backend
    command: ["dev", "--host", "0.0.0.0", "./componentsdb/fastapi/app.py"]
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8000/healthy"]
      interval: 30s
      retries: 5
      start_period: 120s
      start_interval: 1s
    ports:
      - 8000:8000
    volumes:
      - ./backend:/usr/src/app:ro
    environment:
      SQLALCHEMY_DB_URL: postgresql+asyncpg://components-user:components-pass@db/components
      ACCESS_TOKEN_LIFETIME: "120"  # a short period so we stress-test refresh logic
      FEDERATED_IDENTITY_PROVIDERS: |
        {
          "google": {
            "audience": "372542478003-8qf97m4bina5uscsiqtfu63602qkrfjd.apps.googleusercontent.com",
            "issuer": "https://accounts.google.com"
          },
          "gcloud-cli": {
            "audience": "32555940559.apps.googleusercontent.com",
            "issuer": "https://accounts.google.com"
          }
        }
    depends_on:
      db:
        condition: service_healthy
      db-migrate:
        condition: service_completed_successfully

  frontend-dev:
    profiles:
      - dev
    build:
      dockerfile_inline: |
        # syntax=docker/dockerfile:1.7-labs
        FROM node:22
        WORKDIR /usr/src/app
        COPY --exclude=src . .
        RUN yarn install
        ENTRYPOINT ["yarn"]
      context: ./frontend/
    command: ["start"]
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:3000/"]
      interval: 30s
      retries: 5
      start_period: 120s
      start_interval: 1s
    ports:
      - 3000:3000
    volumes:
      - ./frontend/src:/usr/src/app/src:ro
    depends_on:
      backend-dev:
        condition: service_healthy

  ########## UTILITIES ##########

  generate-graphql-schema:
    profiles:
      - tool
    build:
      dockerfile_inline: |
        FROM python:3.12
        WORKDIR /usr/src/app/backend
        RUN pip install poetry
        COPY poetry.lock pyproject.toml /usr/src/app/backend
        RUN poetry install
      context: ./backend
    entrypoint: ["poetry", "run"]
    command:
      [
        "strawberry",
        "export-schema",
        "componentsdb.graphql:schema",
        "--output",
        "/usr/src/app/schema.gql",
      ]
    volumes:
      - ./:/usr/src/app

volumes:
  db-data:
