{% extends "layout_page.html" %}

{% block scripts %}
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="{{url_for('ui.static', filename='signin.js')}}"></script>
{% endblock %}

{% block head %}
<meta name="google-signin-client_id" content="{{config['GOOGLE_CLIENT_ID']}}">
<meta name="google-token-exchange-url"
    content="{{url_for('ui.signin_with_google_token', target=request.args.get('target'))}}">
{{super()}}
{% endblock %}

{% block body %}
<p>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <a href="#" onclick="signOut();">Sign out</a>
</p>
{% endblock %}
