---
import BaseLayout from "../layouts/base.astro";
import { GraphiQL } from "../components/GraphiQL";
---

<BaseLayout>
  <div style="height: calc(100vh - 6rem)" class="mt-1 overflow-hidden rounded-2xl" >
    <GraphiQL client:only="react" />
  </div>
</BaseLayout>
