---
import BaseLayout from "../layouts/base.astro";
import Search from "../components/Search";
---

<BaseLayout>
  <div class="max-w-screen-md mx-auto">
    <h1
      class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white pt-12"
    >
      Find that component
    </h1>
    <p
      class="mb-8 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400"
    >
      Search below to find components in your collection
    </p>

    <Search client:load />
  </div>
</BaseLayout>
